@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
.App{
  background-color: black;
}

.home {
  width: 60%;
  height: 100vh;
  transform: translateX(30%);
  position: relative;
  overflow: hidden; /* Prevents scrolling */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Comic Neue",cursive;
  background:url("https://i.pinimg.com/736x/35/30/18/3530187bca5a7ef3fed79911c5f649ea.jpg");
}

/* Corner images */
.corner-img {
  position: absolute;
  width: 15%; /* Adjust size as needed */
}

/* Specific corner positions */
.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
  border-radius: 20%;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.menu {
  text-align: center;
  z-index: 1; 
  background-image: url("./img/board.png");
  background-position: center;
  padding: 5rem;
  background-size: cover;
  color: white;
}

.menu h1{
  text-transform: uppercase;
}

.start-btn{
  background-color: transparent;
  border: none;
  font-size: 20px;
  text-decoration: underline;
  color: rgb(202, 202, 250);
  font-family:"Comic Neue", cursive;
}

.start-btn:hover,.start-btn:focus{
  color: rgb(145, 145, 239);
}

.quiz{
  width: 60%;
  height: 100vh;
  transform: translateX(30%);
  background:url("https://i.pinimg.com/736x/26/0a/ab/260aabe53ceaa25745b904ff4ba82e2f.jpg");
  background-size: cover;
  position: relative;
  background-position: bottom;
  top: 0;
  font-family: cursive;
  font-style: italic;
  text-align: center;
}

.trivia{
  list-style:decimal-leading-zero;
  text-align: start;
  margin: 0;
}
h2{
  font-size: 20px;
  margin: 1rem 0;
}

.answer{

}

.options{
  display: inline;
  margin: 0 1rem;
}
